<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>137751896016-8i42fkhkgbp3dphob6bnrrorubls0m2u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.137751896016-8i42fkhkgbp3dphob6bnrrorubls0m2u</string>
	<key>API_KEY</key>
	<string>AIzaSyBk6BD4NwwS7Vc9u0_76XjMhPC2In3mO7w</string>
	<key>GCM_SENDER_ID</key>
	<string>137751896016</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>floBootcamp.AldinAldinShopping</string>
	<key>PROJECT_ID</key>
	<string>aldinaldinshopping</string>
	<key>STORAGE_BUCKET</key>
	<string>aldinaldinshopping.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:137751896016:ios:5e117d882453d3584463d5</string>
</dict>
</plist>